<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>all.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>avdecc-cmd.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>avdecc-discover.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>avdecc-get-control.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>avdecc-read-descriptor.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>avdecc-set-control.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>avdecc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BF38091B199FBCEC00D6C745</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BF3809C0199FBDCB00D6C745</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BF3809CB199FBDD700D6C745</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BF3809D6199FBDE500D6C745</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BF3809E1199FBE3900D6C745</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BF3809EC199FBE6C00D6C745</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BF380A0E199FBFE300D6C745</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
